*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid white;
    height: 140px;
    
}

.logo img{
    height: 70px;
    
}

.main_2{
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: 100px 300px 200px;
    grid-template-areas: "a1"
                        "a2"
                        "a3";
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/38/XO_-_2.gif);
    height: 750px;


}
.parrafo{
    color: white;
    font-weight: 1000;
    font-size: 20px;
    
}

.main h1{
    color: cadetblue;
    font-size: 40px;    
}


.video{
    padding: 2rem;
}



.navbar .container-fluid a {
    color: black;
    text-decoration: underline;
  
}
  
.navbar .container-fluid li a {
    color: black;
}




footer{
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 180px;

}



@media only screen and (max-width:600px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .header{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .logo img{
        height: 55px;
    }

    .parrafo{
        font-size: 15px;
    }
    .main h1{
        font-size: 30px;
    }
}

/* FIN INDEX */

.row{
    background-color: black;
    height: 650px;
    align-items: center;
}

.imagenes{
    width: 300px;
    height: 250px;
    margin-top: 10px;
    object-fit: cover;
    
    
    
}

.imagenes:hover{
    transform: rotate(20deg);
}

footer{
    height: 210px;
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

@media only screen and (max-width: 600px){
    .contenedor_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 700px;
        
    }
    .header{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .imagenes{
        width: 100px;
        height: 100px;
        

    }
    .footer{
        height: 100px;
    }

    .listas li{
        font-size: 12px;

    }
    .logo img{
        height: 55px;
    }

}

/* FIN GALERIA */

.main_contenedor{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 500px;
    grid-template-areas: "a1 a2 a3 a4";
    justify-content: center;
    height: 650px;
    align-items: center;
    background-color: black;
    
}

.imagen_1{
    height: 300px;
    width: 300px;
    box-shadow: cadetblue 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;    padding: 3rem;
}

.imagen_2{
    height: 300px;
    width: 300px;
    box-shadow: cadetblue 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;    padding: 3rem;
}

.imagen_3{
    height: 300px;
    width: 300px;
    box-shadow: cadetblue 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;    padding: 3rem;

}

.imagen_4{
    height: 300px;
    width: 300px;
    box-shadow: cadetblue 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;    padding: 3rem;
}

.caja_1{
    padding: 20px;
}

.titulo_1{
    margin-left: 100px;
    font-family: 'Bebas Neue', cursive;
    color: cadetblue
}

.titulo_2{
    margin-left: 130px;
    font-family: 'Bebas Neue', cursive;
    color: cadetblue;
}

.titulo_3{
    margin-left: 120px;
    font-family: 'Bebas Neue', cursive;
    color: cadetblue;
}

.titulo_4{
    margin-left: 40px;
    font-family: 'Bebas Neue', cursive;
    color: cadetblue;
    
}

@media only screen and (max-width:600px){
    .main_contenedor{
        display: flex;
        flex-direction: column;
        height: 1500px;
    }

    .img-thumbnail{
        height: 40px;
        width: 250px;
    }
}

/* FIN DISCOGRAFIA */

.main{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 500px;
    grid-template-areas: "a1 a2 a3 a4" ;
    justify-content: space-around;
    background-color: black;
    height: 650px;
    align-items: center;
}

.titulo_1{
    color: cadetblue;
    height: 50px;
    text-align: center;
    
    
}

.titulo_2{
    color: cadetblue;
    height: 50px;
    text-align: center;
    
}
.titulo_3{
    color: cadetblue;
    height: 50px;
    text-align: center;
    
}
.titulo_4{
    color: cadetblue;
    height: 50px;
    text-align: center;
    
}

@media only screen and (max-width:600px){
    .main{
        display: flex;
        flex-direction: column;
        height: 1500px;

    }

    .playlist{
        width: 300px;
        height: 300px;
    }

    .header{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .logo img{
        height: 55px;
    }
}

/* FIN MUSICA */

.contenedor_main{
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 500px;
    grid-template-areas: "a1 a2";
    justify-content: center;
    height: 650px;
    align-items: center;
    background-color: black;
    gap: 250px;
}

.formulario{
    
    border: 3px solid black;
    padding: 1rem;
    text-align: center;
    background-color: cadetblue;
    grid-area: a2;
}

.parrafo_main{
    text-align: start;
    font-size: 20px;
    color: cadetblue

}

@media only screen and (max-width:600px){
    .contenedor_main{
        display: flex;
        flex-direction: column;
        height: 1200px;
    }

    .formulario{
        padding-top: 2rem;
    }

    .parrafo_main{
        margin-top: 6rem;
    }
    .header{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo img{
        height: 55px;
    }
    
}

/* FIN CONTACTO */