*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid white;
    height: 140px;
    
}

.logo img{
    height: 70px;
    
}

main{
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: 100px 300px 200px;
    grid-template-areas: "a1"
                        "a2"
                        "a3";
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/38/XO_-_2.gif);
    height: 750px;


}
.parrafo{
    color: white;
    font-weight: 1000;
    font-size: 20px;
    
}

.main h1{
    color: cadetblue;
    font-size: 40px;    
}


.video{
    padding: 2rem;
}



.navbar .container-fluid a {
    color: black;
    text-decoration: underline;
  
}
  
.navbar .container-fluid li a {
    color: black;
}




footer{
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 180px;

}



@media only screen and (max-width:600px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .header{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .logo img{
        height: 55px;
    }

    .parrafo{
        font-size: 15px;
    }
    .main h1{
        font-size: 30px;
    }
}
    


