*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    border-bottom: 2px solid white;
    
}

.logo img{
    height: 70px;
}

footer{
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 3px solid white;
    height: 180px;

}


.navbar .container-fluid a {
    color: black;
    text-decoration: underline;
  
}
  
.navbar .container-fluid li a {
    color: black;
}


.main_contenedor{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 500px;
    grid-template-areas: "a1 a2 a3 a4";
    justify-content: center;
    height: 650px;
    align-items: center;
    background-color: black;
}

.imagen_1{
    height: 300px;
    width: 300px;
    box-shadow: cadetblue 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;    padding: 3rem;
}

.imagen_2{
    height: 300px;
    width: 300px;
    box-shadow: cadetblue 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;    padding: 3rem;
}

.imagen_3{
    height: 300px;
    width: 300px;
    box-shadow: cadetblue 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;    padding: 3rem;

}

.imagen_4{
    height: 300px;
    width: 300px;
    box-shadow: cadetblue 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;    padding: 3rem;
}

.caja_1{
    padding: 20px;
}

.titulo_1{
    margin-left: 100px;
    font-family: 'Bebas Neue', cursive;
    color: cadetblue
}

.titulo_2{
    margin-left: 130px;
    font-family: 'Bebas Neue', cursive;
    color: cadetblue;
}

.titulo_3{
    margin-left: 120px;
    font-family: 'Bebas Neue', cursive;
    color: cadetblue;
}

.titulo_4{
    margin-left: 40px;
    font-family: 'Bebas Neue', cursive;
    color: cadetblue;
    
}

@media only screen and (max-width:600px){
    .main_contenedor{
        display: flex;
        flex-direction: column;
        height: 1500px;
    }

    .logo img{
        height: 55px;
    }
}